$stages: 1 2 3 4 5 6 7 8 9 10;
$all_minerals: "stone" "iron" "gold" "diamond" "obsidian";
$material_minerals: "stone" "iron" "gold" "diamond";

:root {
	@each $stage in $stages {
		--obsidianised-stage-#{$stage}: url(./destroy_stage_#{$stage - 1}.png);
	}

	@each $mineral in $all_minerals {
		--obsidianised-#{$mineral}: url(./#{$mineral}.png);
	}
	--obsidianised-obsidian: url(./obsidian.png);

	--obsidianised-wood-pickaxe: url(./wood-pick.png);
	@each $mineral in $material_minerals {
		--obsidianised-#{$mineral}-pickaxe: url(./#{$mineral}-pick.png);
	}

	--obsidianised-pickaxe: var(--obsidianised-wood-pickaxe);
}

@each $stage in $stages {
	.obsidianised-stage-#{$stage}:not(.modal-bg):not(.modal-close-button) {
		overflow: hidden;
		position: relative;
	}
	.modal.obsidianised-stage-#{$stage} {
		z-index: 0;
	}

	.obsidianised-stage-#{$stage}:after {
		background-image: var(--obsidianised-stage-#{$stage});
		background-repeat: repeat;
		opacity: 0.2;
		height: 100%;
		z-index: -1;
		position: absolute;
		width: 100%;
		content: '';
		left: 0;
		top: 0;
	}
	.vertical-tab-nav-item.obsidianised-stage-#{$stage}:after, button.obsidianised-stage-#{$stage}:after {
		z-index: 0;
	}
}

.obsidianised-title {
	color: var(--text-accent-hover);
}

.obsidianised-title-accent {
	color: var(--text-accent);
	font-variant: small-caps;
	font-weight: 900;
	font-size: var(--h3-size);
}

.obsidianised-block {
	background-size: cover;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

@each $mineral in $all_minerals {
	.obsidianised-#{$mineral} {
		background-image: var(--obsidianised-#{$mineral});
	}

	.obsidianised-#{$mineral}:hover {
		cursor: var(--obsidianised-pickaxe), auto;
	}
}
